<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
      <add name="MiConexion" connectionString="Data Source=(local)\SQLEXPRESS; Initial Catalog=PrestamosExpress; Integrated Security=SSPI;" />
    </connectionStrings>
  
  

    <appSettings>
      <add key="TipoBase" value="SQLServer"/>
    </appSettings>
</configuration>